

.arif{
  text-align: center; 
  font-size:25px;
  color:white;
  background: black;
  overflow:hidden;
  width: 97.5%;
  
 
}
.body{
  margin: 0px;
  padding: 0px;
}

.team{
  background:black;
  
  width: 24%;
  padding: 30px 0px;
  float: left;
  border: 2px solid white ;
}
.team img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
}
.team h2{
  text-align: center;
  color: white;
  font-size: 30px;
  margin: auto;
}
.team p{
  text-align: center;
  color: yellow ;
  margin: auto;
 
}